<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>The MatJip</title>
    <link rel="stylesheet" type="text/css" href="../static/css/allCss.css" />
    <link rel="shortcut icon" href="../static/img/logo.png" />
</head>
<body>
<!-- navbar start-->
<nav>
    <a href="/" class="logo-aTag">
        <div class="logo-box">
            <img src="../static/img/logo.png" />
            The MatJip
        </div>
    </a>

    <a>
        <div class="menu-box"><img src="../static/img/menu_button.png" /></div>
    </a>
</nav>
<!-- navbar end -->

<!-- main cover start -->
<div class="main-cover">
    <div class="title-box">
        <div class="icon"><img src="../static/img/mizalee.png" /></div>
        <div class="sentence">오직 미쟐이를 위한 사이트</div>
        <div class="curators">By Nas</div>
    </div>

    <div class="visited-container">
        <div class="title">
            <span> 무슨 말을 써야할지 </span>
            <div class="sub">또 가야지이~~</div>
        </div>
    </div>

    <ul class="select-box">
        <li></li>
    </ul>
</div>
<!-- main cover end -->
</body>
</html>